<strong>年份:</strong><select name="year" class="year">
        <% (1500..3000).each do |year|%>
            <option value="<%= year %>" <%= year == @year ? 'selected' : '' %> ><%= year %></option>
        <% end %>
     </select>
<div id="ajax_content">
    <%= render :partial => 'yue_biao_2' %>
</div>
<div style="text-align: center;">
 <%= link_to '返回', issue_path(@issue)%>
</div>
<script type="text/javascript">
    $(".year").on("change",function (argument) {
        var year = $(".year").val();
        $.ajax({
                  type: "get",
                  dataType: "html",
                  url: '/yue_biao_html?year=' + year + "&issue_id=" + <%=@issue.id%>,
                  async: false,
                  success: function(data) {
                    $("#ajax_content").html(data)
                  }
                 });
    })
</script>